{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход из аккаунта</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo"><a class="nav_link" href="{% url "index" %}">Monsterrat</a></div>

            <nav class="nav">
                <a class="nav_link" href="{% url "movies" %}">поиск</a>
                <a class="nav_link" href="{% url 'dashboard' %}">аккаунт</a>
                
            </nav>
        </div>
    </div>
</header>

<body id="login">
<div class="login-form">
    <div class="box">
        <h1 class="login-form">выход из аккаунта</h1>
        <div class="for_text">
            <p>Вы успешно вышли из аккаунта. Вы можете <a class="regular_link" href="{% url "login" %}">войти снова</a>.</p>
            <p>Или можно вернуться <a class="regular_link" href="{% url "index" %}">на главную страницу</a>.</p>
        </div>
    </div>
</div>
</body>
</html>