{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>вы зарегистрировались! ура</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>


<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo"><a class="nav_link" href="{% url "index" %}">Monsterrat</a></div>

            <nav class="nav">
                <a class="nav_link" href="{% url "movies" %}">поиск</a>
                <a class="nav_link" href="{% url 'dashboard' %}">аккаунт</a>
                
            </nav>
        </div>
    </div>
</header>

<body>
    <h1>добро пожаловать, {{ new_user.first_name }}!</h1>
    <p>вы успешно создали новый аккаунт. теперь можно <a href="{% url "login" %}">войти в него</a>.</p>
</body>
</html>