{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo"><a class="nav_link" href="{% url "index" %}">Monsterrat</a></div>

            <nav class="nav">
                <a class="nav_link" href="{% url "movies" %}">поиск</a>
                <a class="nav_link" href="{% url 'dashboard' %}">аккаунт</a>
                
            </nav>
        </div>
    </div>
</header>

<body id="login">
    <div class="login-form">   
            <form  class="box_signin" action="." method="post">
                <h1 class="login-form">создать аккаунт</h1>
                <p class="center_things">пожалуйста, заполните форму ниже:</p>
                {% csrf_token %}
                {{ user_form.username }} <label>логин</label>
                {{ user_form.first_name }} <label>ваше имя</label>
                {{ user_form.email }} <label>электронная почта</label>
                {{ user_form.password }} <label>пароль</label>
                {{ user_form.password2 }} <label>повторите пароль</label>
                <p><input class="btn_login" type="submit" value="создать аккаунт"></p>
            </form>
    </div>
</body>
</html>