{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>
<body>
<h2>Наш сайт</h2>

{% if request.user.is_authenticated %}
    <ul class="menu">
        <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
    </ul>
{% endif %}
<p>If you don't have an account, <a href="{% url "signin" %}">sign up here</a></p>
<span class="user">
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url "logout" %}">Log out</a>
    {% else %}
        <a href="{% url "login" %}">Log in</a>
    {% endif %}
</span>

<p></p>
<a href="{% url "movies" %}"> Movies</a>

</body>
</html>