{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body>


<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">Monsterrat</div>

            <nav class="nav">
                <a class="nav_link" href="{% url "movies" %}">поиск</a>
                <a class="nav_link" href="{% url 'dashboard' %}">аккаунт</a>
                
            </nav>
        </div>
    </div>
</header>

<div class="intro"> 
    <div class="container">
        <div class="intro_inner">
            <h2 class="intro_suptitle"><span class="user">
    {% if request.user.is_authenticated %}
        привет, {{ request.user.first_name }}!
    {% else %}
        вас мы еще не видели
    {% endif %}</h2>
            <h1 class="intro_title">добро пожаловать, мои чюваки</h1>
        </div>
    {% if request.user.is_authenticated %}
        <a class="btn" href="{% url "logout" %}">выйти из аккаунта</a>
    {% else %}
        <a class="btn" href="{% url "login" %}">войти в аккаунт</a>
        <a class="btn" href="{% url "signin" %}">создать аккаунт</a>
    {% endif %}
        <!-- <h1>Наш сайт</h1> -->
    </div>
</div>

<div class="information">
   <!--  <p>Наш сайт позволяет пользователям легко находить интересный им контент и отсеивать все лишнее. Большой выбор категорий, понятные меню и интерфейс делают наш сайт быстрым и удобным поисковиком книг, фильмов, подкастов и игр любых жанров и франшиз.</p>-->


    <div class="textcols">
        <div class="textcols-item">
            <iframe  src="https://gifer.com/embed/27p0" width=480 height=360.000 frameBorder="0" allowFullScreen></iframe>
        </div>

    <div class="textcols-item">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Не можете найти ту самую книгу, о которой слышали в подкасте с рецензией на последний фильм Дени Вильнева?</h1>
    </div>
    </div>

    <div class="textcols">
        <div class="textcols-item">
            <br>
            <br>
            <h1>Устали постоянно скролить википедию, в попытках разобраться в шедеврах болливуда? </h1>
        </div>
    <div class="textcols-item">
        <iframe src="https://gifer.com/embed/WTW2" width=480 height=276.657 frameBorder="0" allowFullScreen></iframe>
    </div>
    </div>


    <div class="textcols">
        <div class="textcols-item">
            <iframe src="https://gifer.com/embed/EBG6" width=480 height=360.000 frameBorder="0" allowFullScreen></iframe>
        </div>
    <div class="textcols-item">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Наконец нашли, что искали, но сайт на незнакомом для вас языке?</h1>
    </div>
    </div>

    <div class="textcols">
        <div class="textcols-item">
            <br>
            <br>
            <br>
            <br>
            <h1>Тогда Monsterrat точно для вас!</h1>
        </div>
    <div class="textcols-item">
        <iframe src="https://gifer.com/embed/Whoj" width=480 height=313.469 frameBorder="0" allowFullScreen></iframe>
    </div>
    </div>

    <div class="textcols">
        <div class="textcols-item">
            <iframe src="https://gifer.com/embed/fyQx" width=480 height=500 frameBorder="0" allowFullScreen></iframe>
        </div>
    <div class="textcols-item">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Большой выбор категорий, понятные меню и интерфейс</h1>
        <h1>Искать интересный для вас контет и отсеивать всё лишнее стало ещё проще!</h1>
    </div>
    </div>

    <div class="textcols">
        <div class="textcols-item">
            <br>
            <h1>Составляйте личные подборки, читайте краткую информацию о книгах, фильмах, подкастах и играх любых жанров и франшиз, не переходя на другие сайты, на Monsterrat!</h1>
        </div>
    <div class="textcols-item">
        <iframe src="https://giphy.com/embed/10FwycrnAkpshW" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    </div>


</div>
<br>
<div style="text-align: center;">
    <a href="#" title="Вернуться к началу" class="btn_up">Наверх</a>
</div>

<br>
<br>


<footer>
    <div class="footer-content">
        <h1>Monsterrat</h1>
    </div>


    <div class="footer-bottom">
        <h3>get incredible reviews only recommended priority</h3>
        <p>©2021—2022 project</p>
    </div>
</footer>

</body>


</html>